# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Misc
.DS_Store

# Env files
.env*.local
.env*.production

# Vercel
.vercel

# TypeScript
next-env.d.ts
*.tsbuildinfo

# Prisma
/generated/prisma
