button.button {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  border: none;
  border-radius: 6px;
  color: var(--color-accent);
  background-color: var(--color-accent-10);
  transition:
    background-color 0.3s ease,
    scale 150ms ease;

  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.2em;
}

button.button:hover {
  background-color: var(--color-accent-20);
}

button.button:active {
  scale: 0.98;
}
