:root {
  --color-white: hsla(210deg, 100%, 100%, 1);
  --color-black: hsla(210deg, 100%, 004%, 1);
  --color-gray: hsla(210deg, 010%, 050%, 1);
  --color-accent: hsla(210deg, 100%, 050%, 1);
  --color-accent-10: hsla(210deg, 100%, 050%, 0.1);
  --color-accent-20: hsla(210deg, 100%, 050%, 0.2);

  --color-dark-blue-70: hsla(227deg, 50%, 22%, 0.7);

  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
  --color-accent-text: var(--color-dark-blue-70);
  --color-link: var(--color-accent);

  --font-sans: var(--font-ia-writer-quattro), ui-sans-serif, sans-serif;
  --font-mono: var(--font-ia-writer-mono), ui-monospace, monospace;
}

::selection {
  background: var(--color-accent-20);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

p {
  font-size: 1rem;
  line-height: 180%;
}

a {
  color: var(--color-link);
  background-color: var(--color-accent-10);
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 6px;
}

a:hover {
  background-color: var(--color-accent-20);
}
