body.page {
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
}

header.header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 38px;
}
