ul.list {
  margin: 12px 0 20px 0;
  font-family: var(--font-mono);
  list-style: none;

  li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0.5em 0;
    gap: 24px;
    border-bottom: 1px solid var(--color-accent-20);

    span.id {
      color: var(--color-accent-text);
    }

    span.name {
      margin-right: auto;
    }

    span.remove input {
      border: unset;
      padding: 2px 6px;
      border-radius: 6px;
      cursor: pointer;

      font-family: var(--font-sans);
      font-size: 1rem;
      text-transform: uppercase;

      background-color: unset;
      color: var(--color-accent);
      transition: color 300ms ease;
    }
  }
}
