ol.list {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: var(--font-mono);
}

li.item {
  position: relative;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 24px;

  span.date {
    color: var(--color-accent-text);
  }

  span.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.amount {
    margin-left: auto;
    color: var(--color-accent-text);
  }
}

li.item:focus {
  outline: none;
}

div.highlight {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 6px;
  background-color: var(--color-accent-10);
  transition:
    transform 100ms cubic-bezier(0.2, 0, 0.2, 1),
    height 100ms cubic-bezier(0.2, 0, 0.2, 1);
  will-change: transform, height;
}

@media (prefers-reduced-motion: reduce) {
  div.highlight {
    transition: none;
  }
}

div.progressiveBlurContainer {
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;

  div.blurFilter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(32px);
  }
}

div.chevron {
  position: absolute;
  left: 50%;
  &.top {
    top: 0;
    transform: translateY(-24px);
  }
  &.bottom {
    bottom: 0;
    transform: translateY(24px);
  }
  z-index: 2;
  pointer-events: none;
  transition: opacity 200ms ease-in;

  svg {
    fill: var(--color-foreground);
  }
}
