div.paneContainer {
  border: 1px solid var(--color-dark-blue-20);
  border-radius: 6px;
  box-shadow: 0 2px 0 0 var(--color-dark-blue-20);
  padding: 24px 16px;

  h3 {
    color: var(--color-dark-blue);
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    color: var(--color-accent-text);
  }
}
